.about-section {
  padding: 80px 0;
  background: #f8f8f8;
}

.about-section h2 {
  font-size: 45px;
  color: #143d1d;
  font-weight: bold;
}

.about-section p {
  margin: 20px 0;
  color: #666;
  line-height: 1.8;
}