<section class="about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>About Bahula Farm</h2>

        <!-- <p>
          We provide farm fresh milk and dairy products directly from our farm.
          Quality, freshness and purity are our top priorities.
        </p> -->
        <p>
          At Bahula Farm, We believe in purity, natural farming and happy cows.
          Our milk is collected fresh from our own farm and delivered to you
          every day.We prepare all our beverages with love, care and the best
          quality ingredients.
        </p>

        <button class="btn btn-success">Know More About Us</button>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/farm.png" class="img-fluid rounded-4" />
      </div>
    </div>
  </div>
</section>
