footer {
  background: #143d1d;
  color: white;
  padding: 60px 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
}

@media(max-width:768px){
  footer {
    text-align: center;
  }
}