<footer>

  <div class="container">

    <div class="row">

      <div class="col-lg-4">
        <h4>Bahula Farm</h4>

        <p>
          Farm fresh milk delivered daily.
        </p>
      </div>

      <div class="col-lg-4">
        <h5>Quick Links</h5>

        <ul>
          <li>Home</li>
          <li>Products</li>
          <li>About</li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h5>Contact</h5>

        <p>+91 91234 56789</p>
      </div>

    </div>

  </div>
</footer>