<section class="footer-top">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="footer-feature">
          <div class="footer-icon">
            <i class="fa-solid fa-truck-fast"></i>
          </div>

          <div>
            <h5 class="footer-heading">We Deliver in Guntur</h5>

            <p class="footer-text">
              Fast & Hygienic Delivery<br />
              at your doorstep.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-feature">
          <div class="footer-icon">
            <i class="fa-brands fa-whatsapp"></i>
          </div>

          <div>
            <h5 class="footer-heading">Order on WhatsApp</h5>

            <div class="whatsapp-number">+91 91234 56789</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-feature last">
          <div class="footer-icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>

          <div>
            <h5 class="footer-heading">Visit Us</h5>

            <p class="footer-text">
              Bahula Farm,<br />
              Guntur, Andhra Pradesh
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-bottom">
  <div class="container">
    <div class="row align-items-center gy-3">
      <div class="col-lg-3">
        <p class="footer-copy">© 2024 Bahula Farm. All Rights Reserved.</p>
      </div>

      <div class="col-lg-6">
        <ul class="footer-menu">
          <li><a href="#">Home</a></li>

          <li><a href="#">About Us</a></li>

          <li><a href="#">Our Products</a></li>

          <li><a href="#">Menu</a></li>

          <li><a href="#">Gallery</a></li>

          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <div class="social-icons">
          <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="#">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
